
{{extend 'layout.html'}}

<h1>Escada Pablo Uña Fuentes</h1>


<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="210mm"
   height="297mm"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.5 r10040"
   sodipodi:docname="dibujo-1.svg">
  <defs
     id="defs4">
    <inkscape:perspective
       sodipodi:type="inkscape:persp3d"
       inkscape:vp_x="-6.0609153 : 523.15064 : 1"
       inkscape:vp_y="0 : 1000 : 0"
       inkscape:vp_z="1.6323591 : 507.99835 : 1"
       inkscape:persp3d-origin="377.098 : 214.4168 : 1"
       id="perspective3008" />
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.98994949"
     inkscape:cx="288.19553"
     inkscape:cy="738.72013"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1600"
     inkscape:window-height="837"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Capa 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#0000ff;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       id="suelo"
       width="563.6651"
       height="406.08133"
       x="114.14724"
       y="124.03199" />
    <rect
       style="fill:#000000;stroke:#000000"
       id="rect2996"
       width="564.67529"
       height="17.172594"
       x="113.13708"
       y="123.02184" />
    <rect
       style="fill:#000000;stroke:#000000"
       id="rect2998"
       width="23.233509"
       height="390.92905"
       x="113.13708"
       y="139.18428" />
    <rect
       style="fill:#000000;stroke:#000000"
       id="rect3000"
       width="541.44177"
       height="17.172594"
       x="135.36044"
       y="511.93057" />
    <rect
       style="fill:#000000;stroke:#000000"
       id="rect3002"
       width="21.213203"
       height="172.73608"
       x="656.59918"
       y="141.20459" />
    <rect
       style="fill:#000000;stroke:#000000"
       id="rect3004"
       width="22.223356"
       height="85.862968"
       x="655.58899"
       y="425.05746" />
    <rect
       style="fill:#000000;stroke:#000000"
       id="puerta"
       width="20.203051"
       height="106.06602"
       x="656.59918"
       y="315.96097" />
    <g
       sodipodi:type="inkscape:box3d"
       style="fill:#00000;stroke:#000000"
       id="foco"
       inkscape:perspectiveID="#perspective3008"
       inkscape:corner0="1.4221545 : 0.86185944 : 0 : 1"
       inkscape:corner7="1.2457803 : 0.68122176 : 0.25 : 1">
      <path
         sodipodi:type="inkscape:box3dside"
         id="path3022"
         style="fill:#e9e9ff;fill-rule:evenodd;stroke:none"
         inkscape:box3dsidetype="11"
         d="m 138.04835,323.63304 10.18406,-14.52802 0,72.37723 -10.18406,9.7508 z" />
      <path
         sodipodi:type="inkscape:box3dside"
         id="path3018"
         style="fill:#d7d7ff;fill-rule:evenodd;stroke:none"
         inkscape:box3dsidetype="14"
         d="m 164.55191,282.91603 0,80.43427 -16.3195,18.13195 0,-72.37723 z" />
      <path
         sodipodi:type="inkscape:box3dside"
         id="path3014"
         style="fill:#4d4d9f;fill-rule:evenodd;stroke:none"
         inkscape:box3dsidetype="5"
         d="m 152.12838,300.85055 12.42353,-17.93452 -16.3195,26.18899 -10.18406,14.52802 z" />
      <path
         sodipodi:type="inkscape:box3dside"
         id="path3012"
         style="fill:#353564;fill-rule:evenodd;stroke:none"
         inkscape:box3dsidetype="6"
         d="m 152.12838,300.85055 0,74.57728 -14.08003,15.80522 0,-67.60001 z" />
      <path
         sodipodi:type="inkscape:box3dside"
         id="path3020"
         style="fill:#afafde;fill-rule:evenodd;stroke:none"
         inkscape:box3dsidetype="13"
         d="m 152.12838,375.42783 12.42353,-12.07753 -16.3195,18.13195 -10.18406,9.7508 z" />
      <path
         sodipodi:type="inkscape:box3dside"
         id="path3016"
         style="fill:#8686bf;fill-rule:evenodd;stroke:none"
         inkscape:box3dsidetype="3"
         d="m 152.12838,300.85055 12.42353,-17.93452 0,80.43427 -12.42353,12.07753 z" />
    </g>
    <path
       inkscape:connector-curvature="0"
       id="path7"
       d="m 284.82514,374.4236 v -40.148 c 0,-5.27 -4.287,-9.557 -9.557,-9.557 -5.27,0 -9.557,4.287 -9.557,9.557 v 40.773 c -4.979,3.316 -8.048,8.92 -8.048,15.061 0,9.986 8.124,18.109 18.108,18.109 9.985,0 18.109,-8.123 18.109,-18.109 -10e-4,-6.584 -3.521,-12.502 -9.055,-15.686 z m -9.054,28.766 c -7.222,0 -13.078,-5.857 -13.078,-13.08 0,-5.438 3.323,-10.102 8.048,-12.072 v -43.762 c 0,-2.498 2.026,-4.527 4.527,-4.527 2.501,0 4.527,2.029 4.527,4.527 v 16.348 h -1.384 v 2.014 h 1.384 v 5.156 h -1.384 v 2.012 h 1.384 v 5.658 h -1.384 v 2.012 h 1.384 v 10.193 c 5.252,1.701 9.054,6.623 9.054,12.441 0,7.222 -5.855,13.08 -13.078,13.08 z" />
    <path
       sodipodi:type="arc"
       style="fill:#ff0000;fill-opacity:1"
       id="path3003"
       sodipodi:cx="59.110168"
       sodipodi:cy="82.838982"
       sodipodi:rx="9.5338984"
       sodipodi:ry="9.5338984"
       d="m 68.644067,82.838982 a 9.5338984,9.5338984 0 1 1 -19.067797,0 9.5338984,9.5338984 0 1 1 19.067797,0 z"
       transform="translate(216.44911,307.5703)" />
    <rect
       style="fill:#ff0000;fill-opacity:1;stroke:#ff0000"
       id="temperatura"
       width="4.6610169"
       height="46.610168"
       x="272.80505"
       y="336.38385" />
    <path
       sodipodi:type="arc"
       style="fill:blue;fill-opacity:1;stroke:#000080"
       id="recl"
       sodipodi:cx="555.71428"
       sodipodi:cy="596.64789"
       sodipodi:rx="98.571426"
       sodipodi:ry="90"
       d="m 354.28571,596.64789 a 98.571426,90 0 1 1 -197.14286,0 98.571426,90 0 1 1 197.14286,0 z"
       transform="translate(50.42857,237.14286)" />
  </g>
</svg>
     

        Operando:
          <input id="operando" type="text" >
        	  <button id="luz">ON/OFF</button>
    
              <button id="calcular">Al cubo</button>
              
     
          <span id="resultado">resultado</span>

    

          <div id="rec2">fechdfgsda</div>
          <div id="rec3">horasddssd</div>
          <div id="rec4">horasddssd</div>
    
    








<script language="javascript">

  function temporizador() {
        timer = setTimeout("temporizador()", 2000);
        pidehora();
  }

  function pidehora() {

   

        jQuery.post( "{{=URL('default','pide_hora.json')}}")
        .success(function(datos_recibidos) {
        		  
                  jQuery("#rec2").html(datos_recibidos["rec2"]);
                  jQuery("#rec3").html(datos_recibidos["rec3"]);
                  jQuery("#rec4").html(datos_recibidos["rec4"]);  
                  jQuery("#rec2").html(datos_recibidos["rec2"]);
                  var a=document.getElementById("rec2").innerHTML;
                  
                  jQuery("#rec3").html(datos_recibidos["rec3"]);
                  var b=document.getElementById("rec3").innerHTML;
                  var c=document.getElementById("rec4").innerHTML;
                  console.log(b);
                  console.log(a);
                  console.log(c);
                  jQuery("#temperatura").attr('height',a);
							 jQuery("#puerta").attr('style','fill:green');
    if (b==11){jQuery("#suelo").attr('style','fill:green');
							 jQuery("#puerta").attr('style','fill:green');}
							 {{pass}}

	if (b==0){jQuery("#suelo").attr('style','fill:blue');
							 jQuery("#puerta").attr('style','fill:black');}
							 {{pass}}
							 
	if (b==10){jQuery("#suelo").attr('style','fill:green');
							 jQuery("#puerta").attr('style','fill:black');}
							 {{pass}}
							 
	if (b==12){jQuery("#suelo").attr('style','fill:blue');
							 jQuery("#puerta").attr('style','fill:blue');}
							 {{pass}}
	
    if (c==1){jQuery("#recl").attr('style','fill:red');}
							 {{pass}}
	if (c==0){jQuery("#recl").attr('style','fill:black');}
							 {{pass}}
	
	
        });
  }    

  function enviodatos() {
        var datos={'operando1':  888};

        jQuery.post("{{=URL('default','recibe_datos.json')}}", datos, {contentType: 'application/json'} )
              .success(function(datos_recibidos) {           
                  jQuery("#rec4").html(datos_recibidos);

        }); 
  }




  jQuery(document).ready(function() {
      timer = setTimeout("temporizador()", 500);
      
      jQuery("#luz").click(function() {
          enviodatos();
      });
  });


</script>
